<ul
  class="menu__list"
  [class.mobile]="isMobile$$()"
  [class.desktop]="!isMobile$$()"
>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">Home</a>
  </li>

  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    <a routerLink="/pubs">Pubs</a>
  </li>

  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    <a routerLink="/missions">Missions</a>
  </li>

  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    <a routerLink="/admin/badges">Badges</a>
  </li>

  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    <a routerLink="/leaderboard">Leaderboard</a>
  </li>

  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    <a routerLink="/share">Share</a>
  </li>
</ul>
