// abstracts/_variables.scss
:root {
  --font-size: 16px;
  --background-color: #ffffee;
  --text-color: #333333;
  --line-height: 1.5;
  --letter-spacing: 0.2px;
  --accent-color: #009999;
  --icon-size: calc(var(--font-size) * 1.5);
  --button-padding: calc(var(--font-size) * 0.5);
  --primary-color: #cc945f;
  --text-color: #222;
  --eyebrow-color: #666;
  --date-color: #444;
  --link-hover-bg: black;
  --link-hover-color: white;
}
