<form [formGroup]="form" (ngSubmit)="save()" novalidate>
  <label>
    Name:
    <input formControlName="name" required />
  </label>

  <label>
    Description:
    <input formControlName="description" />
  </label>

  <label>
    Choose Icon:
    <div class="icon-grid">
      @for (emoji of defaultIcons; track emoji) {
        <button
          type="button"
          class="icon-option"
          [class.selected]="form.controls.icon.value === emoji"
          (click)="selectIcon(emoji)"
        >
          {{ emoji }}
        </button>
      }
    </div>
  </label>

  <button type="submit" [disabled]="form.invalid">Save</button>
</form>
