.hidden {
  display: none !important;
}

.nav-open {
  overflow: hidden; // Prevent background scroll
}

.text-center {
  text-align: center;
}

// TODO: Ensure I address dark mode
// Theme defaults (prefers dark mode)
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #111;
//     --text-color: #eee;
//   }

//   body {
//     background-color: var(--background-color);
//     color: var(--text-color);
//   }
// }
