
<!-- src/app/shared/ui/pagination/pagination.component.html -->
<nav class="pagination" *ngIf="totalPages() > 1">
  <p>
    Page <b>{{ currentPage() }}</b> of <b>{{ totalPages() }}</b>
  </p>

  <div class="buttons">
    <app-button
      (onClick)="previousPage()"
      [disabled]="currentPage() === 1"
      [icon]="'arrow_back'"
    >
      Previous
    </app-button>

    <ng-container *ngFor="let page of pageNumbers()">
      <app-button
        [class.active]="page === currentPage()"
        (onClick)="goToPage(page)"
        [attr.aria-label]="'Go to page ' + page"
        [attr.aria-current]="page === currentPage() ? 'page' : null"
      >
        {{ page }}
      </app-button>
    </ng-container>

    <app-button
      (onClick)="nextPage()"
      [disabled]="currentPage() === totalPages()"
      [icon]="'arrow_forward'"
    >
      Next
    </app-button>
  </div>
</nav>
